<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://51yche.github.io/apps/yongche/1.2/Yongche.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://51yche.github.io/apps/yongche/1.2/iTunesArtwork@2x</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://51yche.github.io/apps/yongche/1.2/Icon@2x.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.51yongche</string>
				<key>bundle-version</key>
				<string>2.1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>一路有你，快乐同行</string>
				<key>title</key>
				<string>51用车</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
